---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - recovery.workflow-recovery.io
  resources:
  - recoverytriggers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - recovery.workflow-recovery.io
  resources:
  - recoverytriggers/finalizers
  verbs:
  - update
- apiGroups:
  - recovery.workflow-recovery.io
  resources:
  - recoverytriggers/status
  verbs:
  - get
  - patch
  - update
